<div class="main">

    <div class="grid">
        <div class="jeu">
            Multiplicateur : {{ multiplicateur }} <br>
            <button mat-raised-button color="primary" (click)="onClickBtnBonbon(0)">Bonbon bleu</button>
            <button mat-raised-button color="warn" (click)="onClickBtnBonbon(1)">Bonbon rouge</button>
    
            <br>
            Bonbons en stock : {{ bbStock }}
            <br> 
            <button mat-raised-button (click)="mettreEnBanque()">Mettre les bonbons en banque</button>
        </div>
        
        <div class="user">
            Pseudo <br>
            Ma banque : {{ banque }}
        </div>
    </div>
    
    <div class="stats">
        Stats :  <br>
        Bleus : {{ prtBleu+"%" }} - Rouge : {{ prtRouge+"%" }}
    </div>

</div>



<br> <br> <br> <br> <br> <br> <br>
<div style="margin-left:150px;">
A faire : <br>
 - connexion avec google <br>
 - lier google et banque <br>
 - bdd ? fichier ? <br>
 - 5 derniers bonbons couleur <br>
 - Courbe du multiplicateur <br>
</div>
<br> <br> <br> <br> <br> <br> <br>

